# Base de datos PostgreSQL (Coolify proporciona esto)
DATABASE_URL="postgresql://user:password@postgres:5432/tipstv3?schema=public"

# NextAuth
NEXTAUTH_URL="https://tipstv-v3.omarcuellar.co"
NEXTAUTH_SECRET="tu-secreto-aqui-minimo-32-caracteres"

# Admin inicial (se crea con el seed)
ADMIN_EMAIL="admin@tipstv.com"
ADMIN_PASSWORD="cambiar-esta-contraseña"
